.controlPanel {
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 1;
}

.controlPanel a {
  text-transform: capitalize !important;
}

.fixed {
  position: fixed !important;
  top: 0;
}
